.container {
  display: flex;

  justify-content: space-between;
}

.button {
  min-width: 150px;
  padding: 10px 20px;
  font-size: 24px;
  text-transform: capitalize;
  border: none;
  background-color: #47aff5;
  border-radius: 8px;
}
