.container {
  width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.title {
  padding-top: 20px;
  text-align: center;
  font-size: 36px;
  color: #000515;
  margin-bottom: 20px;
}
